<div bs-collapse data-start-collapsed="true" ng-model="recordCtrl.collapseState">
  <div class="list-group-item-heading field row">
    <div class="col-xs-9 col-sm-11">
      <label>Structured Record</label>
      <input class="form-control" type="text" ng-model="recordCtrl.record.name">
    </div>
    <div class="col-xs-3 col-sm-1">
      <span class="text-right big-icon glyphicon full-width"
        ng-class="recordCtrl.getIcon()" bs-collapse-toggle></span>
    </div>
  </div>
  <div bs-collapse-target>
    <div class="list-group-item-text">
      <button type='button' class="btn btn-default"
        ng-click='recordCtrl.addField();'>Add field</button>
      <ul class="list-group" ng-model="recordCtrl.openFields" bs-collapse
        data-start-collapsed="true" data-allow-multiple="true">
        <li class="list-group-item" ng-repeat="f in recordCtrl.record.fields"
          metaman-field="f"
          field-opened-state="recordCtrl.openFields.indexOf($index) > 1"></li>
      </ul>
    </div>
  </div>
</div>
